<%= form_with(model: task, local: true) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
  <%= f.label :status, 'ステータス' %>
  <%= f.text_field :status %>

  <%= f.submit '投稿' %>
<% end %>
  