<h1>id: <%= @task.id %> 詳細ページ</h1>

<p><%= @task.content %>　<%= @task.status %></p>
<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'このタスクを編集する', edit_task_path(@task.id) %>
<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>